body{
  font-family: sans-serif;
  padding: 0 10px;  
}
:root{
  --btn:#dbdbdb;
  --btn-hover:#cacaca;
  --item-bg:#f0f0f0;
  --modal-bg:rgba(141,141,141,0.541)


}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header>button{
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  border-color: var(--btn);
  cursor: pointer;
}
.header>button :hover{
  background-color: var(--btn-hover);

}
.employees{
  display: flex;
}
.employees > div{
  border: 1px solid black;
  overflow-y: scroll;
  height: 450px;
}
.employees__names{
  width: 30%;

}
.employees__single{
  width: 70%;
}
.employees__names,.employees__single{
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.employees__name--title, .employees__single--title{
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  margin-bottom: 5px;
}
.employees__names--list{
  display: flex;
  flex-direction: column;
}
.list-item{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  /* border-bottom: 2px solid black; */
  font-size: 20px;
  margin: 5px;
  border-radius: 10px;
  background-color: var(--item-bg);
}
.list-item:hover{
  background-color: var(--btn);
}
.list-item-selected{
  background-color: rgb(106, 50, 128);
  color: white;

}
.employee__names--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

}
.employee__names--info img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.addEmployee{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}
.addEmployee_create{
  width: 60%;
  height: 60%;
  background-color: rgb(221, 216, 224);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.addEmployee_create input{
  font-size: 15px;
  padding: 10px;
}
.addEmployee_create div{
  display: flex;

  width:  100%;
}
.addEmployee_create div input{
  width:  49%;
}
.addEmployee h3{
  text-align: center;
  /* color: white; */
}